@charset "UTF-8";

/* font-family: 'Raleway', sans-serif; */
/* bleu clair -> #3498DB; */
/* bleu foncé -> #2C3E50; */


html, body{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: 'Raleway', sans-serif;
}

a, a:hover{
  text-decoration: none;
}

.container-fluid{
  padding: 0;
}

.separator{
  height: 3px;
  width: 5%;
  border: none;
  box-shadow: none;
  background-color:#3498DB;
}

/* hearder */
.header{
  background-color: #3498DB;
  height: 70px;
  line-height: 70px;
}
.logo{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;
}

.menu{
  float: right;
}
.menu a{
  color: #ffffff;
  margin-right: 20px;
}

.menu a:hover{
  color: #2C3E50;
}
/* bannière */
.banner{
  width: 100%;
  max-width: 100%;
}

.ban{
  width: 100%;
  max-width: 100%;
  position: relative;
}

.ban img{
  width: 100%;
  max-width: 100%:
}

.inner-banner{
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.inner-banner h1{
  color: #ffffff;
  text-shadow: 1px 1px 20px #000000;
}

.inner-banner .btn-custom{
  background-color: #3498DB;
  color: #ffffff;
}

.inner-banner .btn-custom:hover{
  background-color: #2C3E50;
}
/* about */
#about{
  text-align: center;
  padding-top: 10%;
}

.about article{
  padding-top: 10%;
  margin-bottom: 10%;
}
.about article h2{
  text-align: center;
}
/* portfolio */
.portfolio{
  background-color: #eeeeee;
  height: 800px;
}

#portfolio{
  text-align: center;
}

.portfolio .item-folio{
  height: 200px;
  background-color: #3498DB;
}

/* contact */
.footer{
  background-color: #2C3E50;
}

#contact{
  text-align: center;
  color: #ffffff;
}
